@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Remove scrollbars */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
}

:root {
    --bg-color-5: #00c1b5;
    --bg-color-4: #ff651a;
    --bg-color-3: #ffbe00;
    --bg-color-2: #1d3fbb;
    --bg-color-1: #e30512;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    color: #251d20;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color-5);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: background-color 500ms linear;
}

a {
    color: #251d20;
}

p {
    color: #251d20;
    line-height: 25px;
}

.content-left__top {
    position: fixed;
    top: 20px;
    left: 15px;
    width: 260px;
}

.content-left__bottom {
    position: fixed;
    bottom: 11px;
    left: 22px;
}

.content-left__bottom small {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 31px;
}

.content-left__bottom p {
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 6px;
}

.content-left__bottom p a {
    font-size: 18px;
    font-weight: bold;
}

.content-right__top {
    position: fixed;
    top: 0;
    right: 0;
}

.content-right__top > a {
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.content-right__bottom {
    position: fixed;
    bottom: 18px;
    right: 15px;
    line-height: 1.6;
    font-size: 18px;
}

.content-right__bottom a {
    text-decoration: none;
}

.issue {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.issue-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.issue-container p {
    font-weight: bold;
}

.issue-container a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.issue-container__image {
    margin-top: 6px;
    width: 420px;
}

.issue-container__issue-number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
}

.issue-container__buy-here,
.issue-container__selected-stores {
    font-size: 15px;
    margin-bottom: 18px;
}

